body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(-45deg, #D16BA5, #86A8E7, #5FFBF1);
  height: 100vh;
  background-size: 500% 500%;
  animation-name: gradient-change;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#name {
  float: left;
  margin: auto;
}

#my-name{
  color: white;
  font-size: 1.2em;
  font-weight: bolder;
}

.nav-link {
  color: black;
  font-weight: bold;
  font-size: 1em;
}

.nav-item {
  margin: 0px 0.6em;
}

#top-nav-links {
  border-bottom: solid 0.1em white;
}

#top-nav-link-group {
  float: right;
}

#top-nav a:hover {
  color: white;
  transition: 0.5s;
}

#main-body {
  width: 60%;
  border-radius: 10px;
  background-color: white;
  margin-top: 2em;
  border: solid;
}

#introduction {
  margin: 3em 2em;
}

#hello-world {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
   -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
       animation: fadein 3s;
}

#introduction > h1 {
  color: #86A8E7;
  font-size: 4em;
  font-weight: bold;
}

#introduction > p {
  margin-top: 2em;
  font-size: 2em;
}

#introduction > p > span {
  color: #D16BA5;
  font-weight: bold;
}

/* CSS for PacMan below */

#path {
  margin-bottom: 2em;
}

#pacman {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: yellow;
  animation: pacman 1.5s infinite;
}

#redy { background-color: red;}
#orangey { background-color: orange;}
#bluey { background-color: cyan;}
#pinky { background-color: pink;}

.ghost{
  border-radius: 100% 100% 0 0;
  position: relative;
  margin: auto;
  height: 10em;
  width: 7.5em;
}

.eyes{
  height: 60px;
  left: 50%;
  margin-left: -45px;
  position: relative;
  width: 90px;
  top: 50px;
}

.eye{
  background: #fff;
  border-radius: 100%;
  height: 60px;
  width: 30px;
}

.iris{
  background: blue;
  border-radius: 100%;
  height: 40px;
  position: relative;
  width: 20px;
  top: 10px;
}

.leftEye{ float: left; }
.leftEye .iris{ left: 5px; }

.rightEye{float: right; }
.rightEye .iris{ left: 5px; }

.zig-zag {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
}

#redy .zig-zag {
  background: linear-gradient(135deg, red 16px, transparent 0), 
              linear-gradient(-135deg, red 16px, transparent 0),
              linear-gradient(-45deg, white 16px, transparent 0);
  background-repeat: repeat-x;
  background-size: 12px 30px;
}

#orangey .zig-zag {
  background: linear-gradient(135deg, orange 16px, transparent 0), 
              linear-gradient(-135deg, orange 16px, transparent 0),
              linear-gradient(-45deg, white 16px, transparent 0);
  background-repeat: repeat-x;
  background-size: 12px 30px;
}

#bluey .zig-zag {
  background: linear-gradient(135deg, cyan 16px, transparent 0), 
              linear-gradient(-135deg, cyan 16px, transparent 0),
              linear-gradient(-45deg, white 16px, transparent 0);
  background-repeat: repeat-x;
  background-size: 12px 30px;
}

#pinky .zig-zag {
  background: linear-gradient(135deg, pink 16px, transparent 0), 
              linear-gradient(-135deg, pink 16px, transparent 0),
              linear-gradient(-45deg, white 16px, transparent 0);
  background-repeat: repeat-x;
  background-size: 12px 30px;
}

/*
div {
  border: solid;
}
*/
