body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
            supported by Chrome, Edge, Opera and Firefox */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  background-color: #743018;
}

#name {
  float: left;
  margin: auto;
}

#my-name {
  color: #4ea481;
  font-size: 1.2em;
  font-weight: bolder;
  font-style: italic;
}

#hamburger {
  display: none;
}

#hamburger a {
  color: #4ea481;
}
.nav-link {
  color: #4ea481;
  font-weight: bold;
  font-size: 1em;
}

.nav-item {
  margin: 0px 0.6em;
}

#top-nav-links {
  border-bottom: solid 0.1em #4ea481;
}

#top-nav-link-group {
  float: right;
}

#top-nav a:hover {
  color: #1b1b1b;
  transition: 0.5s;
}

#main-body {
  width: 80%;
  border-radius: 10px;
  background-color: #1b1b1b;
  margin-top: 2em;
  border: solid 1px;
}

#introduction {
  margin: 3em 2em;
  color: white;
}

#hello-world {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

#introduction > h1 {
  color: #d66c1f;
  font-size: 4em;
  font-weight: bold;
}

#introduction > p {
  margin-top: 2em;
  font-size: 2em;
}

#introduction > p > span {
  color: #3784c6;
  font-weight: bold;
}

/* CSS for PacMan below */

#path {
  margin: 5em 2em;
}

#pacman {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: yellow;
  margin-right: 1.5em;
  animation: pacman 1.5s infinite;
}

#redy {
  background-color: red;
}
#orangey {
  background-color: orange;
}
#bluey {
  background-color: cyan;
}
#pinky {
  background-color: pink;
}

.ghost {
  border-radius: 100% 100% 0 0;
  position: relative;
  margin: auto;
  height: 10em;
  width: 7.5em;
  /*animation: up-down 1.5s infinite linear;*/
}

.ghost:hover {
  cursor: pointer;
  animation: bounce 1s;
}

.iris-delay-neg-500 {
  animation-delay: -500ms;
}

.eyes {
  height: 60px;
  left: 50%;
  margin-left: -45px;
  position: relative;
  width: 90px;
  top: 40px;
}

.eye {
  background: #fff;
  border-radius: 100%;
  height: 65px;
  width: 35px;
}

.iris {
  background: blue;
  border-radius: 100%;
  height: 33px;
  position: relative;
  width: 20px;
  top: 15px;
  animation: iris-large 1.5s infinite;
}

.iris-delay-neg-500 {
  animation-delay: -500ms;
}

.leftEye {
  float: left;
}
.leftEye .iris {
  left: 7px;
}

.rightEye {
  float: right;
}
.rightEye .iris {
  left: 7px;
}

.zig-zag {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
}

#redy .zig-zag {
  background: linear-gradient(135deg, red 16px, transparent 0),
    linear-gradient(-135deg, red 16px, transparent 0),
    linear-gradient(-45deg, #1b1b1b 16px, transparent 0);
  background-repeat: repeat-x;
  background-size: 12px 30px;
}

#orangey .zig-zag {
  background: linear-gradient(135deg, orange 16px, transparent 0),
    linear-gradient(-135deg, orange 16px, transparent 0),
    linear-gradient(-45deg, #1b1b1b 16px, transparent 0);
  background-repeat: repeat-x;
  background-size: 12px 30px;
}

#bluey .zig-zag {
  background: linear-gradient(135deg, cyan 16px, transparent 0),
    linear-gradient(-135deg, cyan 16px, transparent 0),
    linear-gradient(-45deg, #1b1b1b 16px, transparent 0);
  background-repeat: repeat-x;
  background-size: 12px 30px;
}

#pinky .zig-zag {
  background: linear-gradient(135deg, pink 16px, transparent 0),
    linear-gradient(-135deg, pink 16px, transparent 0),
    linear-gradient(-45deg, #1b1b1b 16px, transparent 0);
  background-repeat: repeat-x;
  background-size: 12px 30px;
}

/*
div {
  border: solid;
}
*/
