@keyframes gradient-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pacman {
  0% {
      background-image: conic-gradient(yellow 0deg, yellow 40deg, white 40deg, white 140deg, yellow 140deg, yellow 180deg);
  }
  25% {
      background-image: conic-gradient(yellow 0deg, yellow 65deg, white 65deg, white 115deg, yellow 115deg, yellow 180deg);
  }

  50% {
      background-image: conic-gradient(yellow 0deg, yellow 90deg, white 90deg, white 90deg, yellow 90deg, yellow 180deg);
  }

  75% {
      background-image: conic-gradient(yellow 0deg, yellow 65deg, white 65deg, white 115deg, yellow 115deg, yellow 180deg);
    }

  100% {
      background-image: conic-gradient(yellow 0deg, yellow 40deg, white 40deg, white 140deg, yellow 140deg, yellow 180deg);
  }
}