#pacman {
  width: 6em;
  height: 6em;
}

.ghost {
  height: 6em;
  width: 4.4em;
}

.eyes {
  margin-left: -30px;
  width: 60px;
  top: 15px;
}

.eye {
  height: 40px;
  width: 25px;
}

.iris {
  height: 23px;
  width: 15px;
  top: 8px;
  left: -10px;
  animation: iris-medium 1.5s infinite;
}

.iris-delay-neg-500 {
  animation-delay: -500ms;
}

.leftEye .iris {
  left: 4.5px;
}
.rightEye .iris {
  left: 4.5px;
}
