#top-nav {
  margin-top: 1em;
}

#name {
  text-align: center;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.nav-item {
  margin: auto;
}

#top-nav-link-group {
  width: 100%;
}

#main-body {
  width: 90%;
  
  /* TODO: Once more content is added to the bottom of site, this div will automatically extend to the bottom. Hence, remove "height: 70%" */
  height: 70%;
}

#introduction {
  margin: 1.2em 0.5em;
}

#introduction > h1{
  font-size: 2em;
}

#introduction > p {
  font-size: 1em;
}

#pacman {
  width: 4em;
  height: 4em;
}

.ghost{
  height: 4em;
  width: 3em;
}

.eyes{
  margin-left: -20px;
  width: 2.5em;
  top: 15px;
}

.eye{
  height: 23px;
  width: 15px;
}

.iris{
  height: 15px;
  width: 10px;
  top: 4px;
  animation: iris-small 1.5s infinite;
}

.iris-delay-neg-500 {
  animation-delay: -500ms;
}

.leftEye .iris{ left: 2.5px; }
.rightEye .iris{ left: 2.5px; }

#path {
  margin-top: 6em;
}