#top-nav {
  margin-top: 1em;
}

#name {
  text-align: center;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.nav-item {
  margin: auto;
}

#top-nav-link-group {
  width: 100%;
}

#main-body {
  width: 90%;
  
  /* TODO: Once more content is added to the bottom of site, this div will automatically extend to the bottom. Hence, remove "height: 70%" */
  height: 70%;
}

#introduction {
  margin: 1.2em 0.5em;
}

#introduction > h1{
  font-size: 2em;
}

#introduction > p {
  font-size: 1em;
}

#pac {
  margin: 1.2em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: yellow;
  animation: pacman 1.5s infinite;
}

#path {
  margin-top: 6em;
}