#name {
  text-align: center;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

#top-nav-link-group {
  width: 100%;
}

#main-body {
  width: 90%;
}

#introduction {
  margin: 1.2em 0.5em;
}

#introduction > h1{
  font-size: 2em;
}

#introduction > p {
  font-size: 1em;
}

#pac {
  margin: 1.2em auto;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: yellow;
  animation: pacman 2s infinite;
}
